<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实现文本框数据的改变</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" id="" v-model="first" v-on:keyup="fun_keyup">
        <input type="text" id="" v-model="last" v-on:keyup="fun_keyup">
        <input type="text" id="" v-model="full">
    </div>
</body>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            first:'',
            last:'',
            full:'',
        },//属性
        methods:{
            fun_keyup(){
                this.full = this.first + '' + this.last;
            }
        },//方法
        filters:{},//过滤器
        directives:{},//指令
        components:{},//组件
        //钩子函数===================
        beforeCreate(){},
        created(){},
        beforeMount(){},
        mounted(){},
        beforeUpdate(){},
        updated(){},
        beforeDestroy(){},
        destroyed(){},
    })
</script>
</html>